.accordion {
    margin-bottom: 40px;

    @media all and ($container-tablet) {
        margin-bottom: 120px;
    }

    svg {
        width: 11px;
    }

    &--rendered {
        @include font-proxima(600);
        border: 1px solid $grey-6;
        border-radius: $global-radius;

        .accordion__item {
            overflow: hidden;
            border-bottom: 1px solid $grey-6;
            @include padding(30px 30px 30px 80px);

            &:last-child {
                border-bottom: none;
            }

            &__trigger {
                display: block;
                font-size: $font-size-base;
                line-height: $lineheight-base;
                position: relative;
            }

            &__icon {
                svg {
                   @include transition(all .3s ease);
                   width: 11px;
                   position: absolute;
                   left: -42px;
                   top: 50%;
                   margin-top: -9px;
                }
            }

            &__content {
                @include transition(max-height .2s ease-in-out);
                margin-left: -46px;

                max-height: 0;
                overflow: hidden;

                p {
                    font-size: $font-size-small;
                    &:last-child {
                        padding-bottom: 0px;
                    }
                }

            }

            &__inner {
                position: relative;
            }

            &.active {
                .accordion__item {
                    &__content {
                        max-height: 1000px;
                        padding-top: 10px;
                    }

                    &__icon > svg {
                        @include transform(rotate(90deg));
                    }
                }
            }
        }
    }
}
