.calculator {
    background-color: $white;
    border-radius: $global-radius;
    position: relative;
    z-index: 2;
}

.calculator--wrapper {
    @include position(relative);
    overflow: hidden;
}

.calculator--section {
    @include padding(20px 15px);
    width: calc(100% + 30px);
    margin-left: -15px;
    border-bottom: 1px solid $grey-2;

    @media all and (min-width: $screen-md) {
        margin-left: 0px;
        @include padding(20px 0px);
        width: 100%;
    }

    &--cta {
        border-bottom: none;
        @include padding(0px 15px 20px);

        @media all and (min-width: $screen-md) {
            @include padding(20px 0px);
            border-bottom: 1px solid $grey-2;
        }
    }

    &:last-child {
        border-bottom: 0px;
    }
}

.calculator--heading {
    font-size: $font-size-base;
    @include padding(0px 15px);
    width: calc(100% + 30px);
    margin-left: -15px;

    @media all and (min-width: $screen-md) {
        border-bottom: 1px solid $grey-2;
        font-weight: 600;
        font-size: $font-size-h2-tablet;
        margin-left: 0px;
        @include padding(20px 0px);
        width: 100%;
        border-bottom: 1px solid $grey-2;
    }

}

.calculator--cta {
    display: table;
    border-top: 1px solid $grey-2;
    width: calc(100% + 30px);
    padding: 20px 15px 0;
    margin-left: -15px;

    @media all and (min-width: $screen-md) {
        padding-top: 0px;
        border-top: none;
        margin-left: 0px;
        width: 100%;
    }

    .btn__primary--red {
        display: table;
        text-align: center;
        width: 100%;

        @media all and (min-width: $screen-md) {
            display: inline-block;
        }
    }

    p {
        display: block;
        font-size: $font-size-small;
        line-height: $lineheight-small;
        font-weight: 300;

        @media all and (min-width: $screen-md) {
            float: right;
        }
    }
}

.calculator--slider {
    &--range {
        @include font-proxima(600);
        font-size: $font-size-small;
        line-height: $lineheight-small;
        margin-bottom: 40px;

        li:first-child {
            float: left;
        }

        li:last-child {
            float: right;
        }
    }
}

.calculator__amount {
    @include font-proxima(700);
    @include clearfix;
    padding-bottom: 20px;

    dl {
        @include display(flex);
        @include flex-direction(row);
        @include align-items(flex-start);
        @include justify-content(space-between);

        @media all and (min-width: $screen-md) {
            @include flex-direction(row);
        }
    }

    dt {
        font-size: $font-size-small;

        @media all and (min-width: $screen-md) {
            font-size: $font-size-base;
            float: left;
        }
    }

    dd {
        font-size: $font-size-h2-mobile;
        line-height: $lineheight-h2-mobile;
        @include display(flex);

        @media all and (min-width: $screen-md) {
            font-size: $font-size-h2;
            line-height: $lineheight-h2;
        }

        input {
            border: none;
            margin-top: 0px;
            font-size: $font-size-h2;
            line-height: $lineheight-h2;
            outline: none;
            background-color: transparent;
        }

        span {
            display: inline-block;
            font-size: $font-size-h2;
        }
    }
}


.calculator__total {
    list-style: none;
    @include padding(15px 0);
    @include margin(0px);

    @media all and (min-width: $screen-md) {
        padding: 0px;
    }

    &--title {
        text-align: center;
        @include font-proxima(600);
        padding-bottom: 10px;
        padding-top: 0px;
    }

    &--border-left {
        &::before {
            position: absolute;
            content: "";
            border-left: 1px solid $grey-2;
            height: 100%;
            margin-left: -15px;
            margin-top: -15px;

            @media all and (min-width: $screen-md) {
                margin-top: 0;
            }
        }
    }

    li {
        text-align: left;
        font-size: $font-size-small;
        line-height: 20px;

        @media all and (min-width: $screen-md) {
            font-size: $font-size-base;
            line-height: $lineheight-base;
        }

        &.calculator__total--number {
            font-size: 30px;
            @include font-proxima(600);
            padding: 10px 0 20px;

            @media all and (min-width: $screen-md) {
                font-size: $font-size-h1;
            }
        }

        &.calculator__total--fees {
            font-size: 12px;
            line-height: $font-size-small;

            @media all and (min-width: $screen-md) {
                font-size: $font-size-small;
            }
        }
    }
}

.calculator--rates {
    @include padding(0px);
    @include margin(0px);
    @include font-sans(400);
    @include clearfix;

    li {
        width: 50%;
        float: left;
        border-bottom: 1px solid $grey-2;
        @include margin(5px 0 0px);

        @media all and (min-width: $screen-md) {
            width: calc(100% / 7);
            text-align: center;
            border-left: 1px solid $grey-2;
            border-bottom: none;
        }

        &:nth-child(odd) {
            padding-left: 15px;
            position: relative;

            &::before {
                content: "";
                border-left: 1px solid $grey-2;
                height: 80%;
                position: absolute;
                left: 0;

                @media all and (min-width: $screen-md) {
                    display: none;
                }
            }

            @media all and (min-width: $screen-md) {
                padding-left: 0px;
            }
        }

        &:first-child {
            border-left: none;
            display: block;
            float: none;
            margin-bottom: 15px;
            border-bottom: none;
            text-align: left;
            line-height: $lineheight-small;
            width: 100%;
            padding-left: 0px;

            @media all and (min-width: $screen-md) {
                float: left;
                margin-bottom: 0px;
                width: calc(100% / 7 * 2);
                padding-right: 20px;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        span {
            display: block;
            float: left;
            margin-right: 10px;

            &:last-child {
                margin-right: 0px;
            }

            @media all and (min-width: $screen-md) {
                float: none;
                margin-right: 0px;
            }

            &:first-child {
                font-weight: 600;
                padding-bottom: 5px;
                margin-right: 20px;

                @media all and (min-width: $screen-md) {
                    line-height: $lineheight-small;
                    margin-right: 0px;
                }
            }
        }
    }
}

.calculator--small-print {
    p {
        font-size: $font-size-small;
        line-height: $lineheight-small;
        color: $grey-10;
        padding-bottom: 0px;
    }
}
