.call-out {
    background-color: $red-1;
    min-height: auto;
    padding: 40px 0 100px;
    position: relative;
    overflow: hidden;

    @media all and (min-width: $screen-sm) {
        min-height: 515px;
        @include padding($section-dbl-padding 0);
    }

    .centered-heading * {
        color: white;
    }
}

.call-out--faqs {
    a {
        min-width: auto;
        display: block;
        text-align: center;

        @media all and (min-width: $screen-md) {
            min-width: 280px;
            text-align: center;
            margin-left: 20px;
            margin-top: 0px;
        }
    }
}
