.calculator {
    background-color: $white;
    border-radius: $global-radius;
    position: relative;
    z-index: 2;
}

.calculator--wrapper {
    @include position(relative);
    overflow: hidden;
}

.calculator--section {
    @include padding(20px);
    border-bottom: 1px solid $grey-2;

    &:last-child {
        border-bottom: 0px;
    }
}

.calculator--cta {
    .btn__primary--red {
        display: block;
        text-align: center;

        @media all and (min-width: $screen-lg) {
            display: inline-block;
        }
    }

    p {
        display: block;
        font-size: $font-size-small;
        line-height: $lineheight-small;
        font-weight: 300;

        @media all and (min-width: $screen-lg) {
            float: right;
        }
    }
}

.calculator--slider {
    &--range {
        @include font-proxima(600);
        font-size: $font-size-small;
        line-height: $lineheight-small;
        margin-bottom: 40px;

        li:first-child {
            float: left;
        }

        li:last-child {
            float: right;
        }
    }
}

.calculator__amount {
    @include font-proxima(700);
    @include clearfix;
    padding-bottom: 20px;

    dl {
        @include display(flex);
        @include flex-direction(column);
        @include align-items(flex-start);
        @include justify-content(space-between);

        @media all and (min-width: $screen-md) {
            @include flex-direction(row);
        }
    }

    dt {
        font-size: $font-size-base;

        @media all and (min-width: $screen-md) {
            float: left;
        }
    }

    dd {
        font-size: $font-size-h2;
        line-height: $lineheight-h2;
        @include display(flex);
        margin-top: 10px;
        width: 200px;

        input {
            border: none;
            margin-top: 0px;
            font-size: $font-size-h2;
            line-height: $lineheight-h2;
            outline: none;
            background-color: transparent;
        }

        span {
            display: inline-block;
            font-size: $font-size-h2;
            //line-height: $lineheight-h2;
        }

        @media all and (min-width: $screen-md) {
            font-size: $font-size-h1;
            float: right;
            margin-top: 0px;

            input, span {
                font-size: $font-size-h1;
                //line-height: 50px;
                margin-top: 0px;
            }
        }
    }
}


.calculator__total {
    &--title {
        text-align: center;
        @include font-proxima(600);
        padding-bottom: 10px;
        padding-top: 0px;
    }

    list-style: none;
    @include padding(0px);
    @include margin(0px);

    li {
        text-align: center;

        &:first-child {
            font-size: $font-size-h2;
            @include font-proxima(700);
            padding-bottom: 10px;
        }

        &:last-child {
            font-size: $font-size-small;
            line-height: $lineheight-small;
            @include font-sans(300);
        }
    }
}

.calculator--rates {
    @include padding(0px);
    @include margin(0px);
    @include font-sans(300);
    @include clearfix;

    li {
        width: 50%;
        float: left;
        border-bottom: 1px solid $grey-2;
        @include margin(5px 0 0px);

        @media all and (min-width: $screen-lg) {
            width: calc(100% / 7);
            text-align: center;
            border-left: 1px solid $grey-2;
            border-bottom: none;
        }

        &:first-child {
            border-left: none;
            display: block;
            float: none;
            margin-bottom: 15px;
            border-bottom: none;

            @media all and (min-width: $screen-lg) {
                float: left;
                margin-bottom: 0px;
                width: calc(100% / 7 * 2);
            }
        }

        &:last-child {
            border-bottom: none;
        }

        span {
            display: block;
            float: left;
            margin-right: 20px;

            @media all and (min-width: $screen-lg) {
                float: none;
                margin-right: 0px;
            }

            &:first-child {
                font-weight: 600;
                padding-bottom: 5px;
            }
        }
    }
}
