.calculator {
    background-color: $white;
    border-radius: $global-radius;
}

.calculator--wrapper {
    @include position(relative);
}

.calculator--section {
    @include padding(20px);
    border-bottom: 1px solid $grey-2;

    &:last-child {
        border-bottom: 0px;
    }
}

.calculator--cta {
    .btn__primary--red {
        display: inline-block;
    }

    p {
        float: right;
        font-size: $font-size-small;
        line-height: $lineheight-small;
        font-weight: 300;
    }
}

.calculator--slider {
    &--range {
        @include font-proxima(600);
        font-size: $font-size-small;
        line-height: $lineheight-small;
        margin-bottom: 40px;

        li:first-child {
            float: left;
        }

        li:last-child {
            float: right;
        }
    }
}

.calculator__amount {
    @include font-proxima(700);
    @include clearfix;
    padding-bottom: 20px;

    dt {
        font-size: $font-size-base;
        float: left;
    }

    dd {
        font-size: $font-size-h1;
        float: right;
    }
}

.calculator__total {
    &--title {
        text-align: center;
        @include font-proxima(600);
        padding-bottom: 10px;
        padding-top: 0px;
    }

    list-style: none;
    @include padding(0px);
    @include margin(0px);

    li {
        text-align: center;

        &:first-child {
            font-size: $font-size-h2;
            @include font-proxima(700);
            padding-bottom: 10px;
        }

        &:last-child {
            font-size: $font-size-small;
            line-height: $lineheight-small;
            @include font-sans(300);
        }
    }
}

.calculator--rates {
    @include padding(0px);
    @include margin(0px);
    @include font-sans(300);
    @include clearfix;

    li {
        float: left;
        width: calc(100% / 7);
        text-align: center;
        border-left: 1px solid $grey-2;

        &:first-child {
            width: calc(100% / 7 * 2);
            border-left: none;
        }

        span {
            display: block;

            &:first-child {
                font-weight: 600;
                padding-bottom: 5px;
            }
        }
    }
}
