.faqs {
    @include padding(40px 0 0);
    margin-bottom: 40px;

    @media all and ($screen-sm) {
        @include padding(80px 0 0);
    }
}

.faqs--page-wrapper {
    .faqs {
        @include padding(30px 0 30px);
        margin-bottom: 0px;
        border-bottom: 1px solid $grey-2;

        heading > h3 {
            padding-bottom: 40px;
        }

        h3 {
            padding-bottom: 20px;
        }

        &:last-child {
            padding-bottom: 0px;
            border-bottom: none;
        }
    }
}

.faqs__categories {
    &--list {
        @include padding(0 0 20px);
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);
        @include flex-direction(column);

        @media all and (min-width: $screen-sm) {
            @include flex-direction(row);
        }
    }

    &--item {
        @include padding(16px 20px);
        border: 1px solid $grey-2;
        width: 100%;
        margin-bottom: 5px;
        text-align: center;

        @media all and (min-width: $screen-sm) {
            margin-bottom: 0px;
            margin-right: 20px;
            width: auto;
        }

        &:last-child {
            margin-right: 0px;
        }

        a {
            @include font-proxima(700);
        }
    }
}

.faqs--slider {
    margin-bottom: 20px;

    p {
        font-size: $font-size-small;
        line-height: $lineheight-small;
    }

    a, p {
        display: block!important;
    }
}

.faqs__q-list {
    margin-bottom: 40px;
    margin-top: 20px;

    &--ul {
        margin-top: 10px;
    }

    &--item {
        padding-bottom: 20px;

        a {
            color: $red-1;
            @include font-proxima(700);
        }
    }

    &--see-more {
        margin-top: 40px;
        @include font-proxima(700);
        display: block;
    }
}

.faqs__breadcrumb {
    padding: 20px 0!important;

    &--list {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);
    }

    &--item {
        margin-right: 24px;
        @include font-proxima(700);

        &:first-child {
            color: $red-1;
        }

        &:last-child {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: -13px;
                background-color: $grey-2;
                width: 3px;
                border-radius: 3px;
                height: 100%;
            }
        }
    }
}
