.feature-panel {
    @extend .panel;

    svg {
        margin: 20px auto 30px;
        display: block;
        width: 60%;
        position: relative;

        &.feature-panel--balloons {}

        &.feature-panel--houses {
            width: 100%;
            bottom: -10px;
        }

        &.feature-panel--house-safe {
            width: 100%;
            bottom: -10px;
        }

        &.feature-panel--maze {
            width: 75%;
        }
    }

    &.yellow {
        background-color: $yellow-2;
    }

    &.teal {
        background-color: $teal-2;
    }

    &.blue {
        background-color: $blue-2;
    }
}
