.footer {
    border-top: 1px solid $grey-2;
    @include padding(25px 0 0);

    @media all and (min-width: $container-tablet) {
        @include padding(80px 0 0);
    }
}

.footer--copyright {
    display: none;

    @media all and (min-width: $container-tablet) {
        display: block;
    }
}

.footer__buttress {
    @include font-proxima(600);
    margin-top: 0px;
    background-color: $grey-3;
    color: $white;
    margin-top: 20px;

    @media all and (min-width: $container-tablet) {
        margin-top: 80px;
    }

    p {
        @include font-proxima(600);
    }

    ul {
        margin-left: -$col-padding;
        width: calc(100% + 30px);

        @media all and (min-width: $container-tablet) {
            padding: 20px 0px;
            @include clearfix;
        }

        li {
            display: block;
            @include padding($col-padding);
            font-size: $font-size-small;
            line-height: $lineheight-small;
            border-bottom: 1px solid $grey-8;

            @media all and (min-width: $container-tablet) {
                float: left;
                @include padding(0px $col-padding);
                font-size: $font-size-base;
                line-height: $lineheight-base;
                border-right: 2px solid $grey-4;
                border-bottom: none;
            }

            &.mobile-only {
                display: block;

                @media all and (min-width: $container-tablet) {
                    display: none;
                }
            }

            &:first-child {
                @media all and (min-width: $container-tablet) {
                    padding-left: 0px;
                }
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}

.footer--list {
    margin-left: -$col-padding;
    width: calc(100% + 30px);
    @include padding(0 $col-padding);
    margin-bottom: 20px;
    border-bottom: 1px solid $grey-2;
    font-size: $font-size-base;
    line-height: $lineheight-base;

    @media all and (min-width: $container-tablet) {
        border-bottom: none;
    }

    li {
        padding-bottom: 25px;

        @media all and (min-width: $container-tablet) {
            padding-bottom: 15px;
        }
    }

    a {
        @include font-proxima(600);
    }
}
