.footer {
    border-top: 1px solid $grey-2;
    @include padding(80px 0 0);
}

.footer__buttress {
    @include font-proxima(600);
    margin-top: 80px;
    background-color: $grey-3;
    color: $white;

    p {
        @include font-proxima(600);
    }

    ul {
        padding: 20px 0px;
        @include clearfix;

        li {
            float: left;
            @include padding(0px 10px);
            font-size: $font-size-base;
            line-height: $lineheight-base;
            border-right: 2px solid $grey-4;

            &:first-child {
                padding-left: 0px;
            }
        }
    }
}

.footer--list {
    li {
        padding-bottom: 25px;    
    }

    a {
        @include font-proxima(600);
    }
}
