.formtype {
    margin-top: 15px;
    margin-bottom: 20px;

    @media all and ($screen-md) {
        margin-bottom: 0px;
    }

    input {
        @include font-proxima(700);
        @include padding(15px 20px 13px);
        font-size: $font-size-base;
        line-height: $lineheight-input;
        border-radius: $global-radius;
        width: 100%;
        border: 1px solid $grey-6;
        margin-bottom: 20px;

        @media all and ($screen-md) {
            margin-bottom: 0px;
        }

        @include placeholder {
            color: $grey-6;
        }
    }
}

.formtype--email-wrapper {
    margin-top: 15px;

    @media all and (min-width: $screen-md) {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);
    }

    button {
        display: block;
        width: 100%;

        @media all and (min-width: $screen-md) {
            width: auto;
        }
    }

    > input {
        width: 100%;

        @media all and (min-width: $screen-md) {
            width: 55%;
            margin-bottom: 0px;
        }

        @media all and (min-width: $container-large-desktop) {
            width: 66%;
            margin-bottom: 0px;
        }
    }
}


.formtype--select {
   background: url(../images/icons/chevron-down.svg) no-repeat 93% 53%;
   overflow: hidden;
   @include padding(5px 5px 5px 10px);
   @include font-proxima(600);
   font-size: $font-size-base;
   width: 240px;
   display: block;
   margin: auto;
   background-color: $white;
   border-radius: $global-radius;
   background-size: 20px;
   margin-top: 30px;

   @media all and (min-width: $screen-md) {
       display: none;
   }

    select {
       background: transparent;
       border: none;
       font-size: 14px;
       height: 29px;
       padding: 5px; /* If you add too much padding here, the options won't show in IE */
       width: 268px;
       font-size: 16px;
       height: 34px;
       width: 268px;

       &:focus {
           outline: none;
       }
    }
}
