@mixin  wrap-dims($color){
    background-color: $color;
    min-height: 600px;
    @include padding(80px 0);

    &.double-padding {
        @include padding(140px 0);
    }

    &.short {
        min-height: auto;

        .centered-heading, p {
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }
}

.fw-wrap {
    @include wrap-dims($white);

    &--blue {
        @include wrap-dims($blue-1);
        color: white;

        * {
            color: inherit;
        }
    }

    &--light-blue {
        @include wrap-dims($blue-2);
    }

    &--green {
        @include wrap-dims($teal-1);
    }

    &--light-green {
        @include wrap-dims($teal-2);
    }

    &--red {
        @include wrap-dims($red-1);
    }
}

.fw-wrap--video {
    background-color: $grey-1;
    background-size: cover;
    min-height: 470px;
    position: relative;

    &::before {
        content: "";
        @include position(absolute, 0px null null 0px);
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
    }

    .centered-heading {
        color: white;
        position: absolute;
        z-index: 3;
        top: 50%;
        @include transform(translate3d(0, -50%, 0));
        width: 100vw;
    }
}
