@mixin  wrap-dims($color){
    background-color: $color;
    //min-height: 600px;
    @include padding(40px 0);

    @media all and (min-width: $screen-sm) {
        @include padding(80px 0);
    }

    .col-md-4:last-child {
        > div {
            margin-bottom: 0px;

            @media all and (min-width: $screen-sm) {
                margin-bottom: 35px;
            }
        }
    }

    &.double-padding {
        @include padding(40px 0 80px);

        @media all and (min-width: $screen-sm) {
            @include padding(140px 0);
        }
    }

    &.short {
        min-height: auto;

        .centered-heading, p {
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }
}

@mixin fw-wrap-padding(){
    @include padding(40px 0);

    @media all and (min-width: $screen-sm) {
        @include padding(70px 0);
    }

    &.double-padding {
        @include padding(40px 0);

        @media all and (min-width: $screen-sm) {
            @include padding(140px 0);
        }
    }
}

.fw-wrap {
    @include wrap-dims($white);

    &--blue {
        @include wrap-dims($blue-1);
        color: white;

        * {
            color: inherit;
        }
    }

    &--light-blue {
        @include wrap-dims($blue-2);
    }

    &--green {
        @include wrap-dims($teal-1);
    }

    &--light-green {
        @include wrap-dims($teal-2);
    }

    &--red {
        @include wrap-dims($red-1);
    }
}


.fw-wrap--video {
    background-color: $grey-1;
    background-size: cover;
    position: relative;
    max-height: 470px;
    overflow: hidden;
    @include transition(all .4s ease-in-out);

    &::before {
        content: "";
        @include position(absolute, 0px null null 0px);
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
    }

    .centered-heading {
        color: white;
        position: absolute;
        z-index: 3;
        top: 50%;
        @include transform(translate3d(0, -50%, 0));
        width: 100vw;
        opacity: 1;
        @include transition(opacity .3s ease);

        &.remove {
            opacity: 0;
        }
    }
}


.fw-wrap--about-us {
    background-color: $yellow-3;
    @include fw-wrap-padding;
}


.fw-wrap--how-to-invest {
    background-color: white;
    @include fw-wrap-padding;

    p {
        padding-bottom: 0px;
    }
}



//how it works steps
.fw-wrap--step-1 {
    background-color: $blue-1;
    color: white;
    @include fw-wrap-padding;

    .container > .row {
        @media all and (min-width: $screen-sm) {
            @include display(flex);
            @include align-items(stretch);
        }
    }

    svg {
        width: 100%;
        height: 200px;
        display: block;
        margin: auto;
        max-width: 350px;
        margin-top: 30px;

        @media all and (min-width: $screen-sm) {
            max-width: initial;
            margin-top: 0px;
            width: 100%;
            height: 100%;
            @include position(absolute, 0px null null 0px);
            @include padding(0 20px 0px 50px);
        }

        @media all and (min-width: $screen-md) {
            @include padding(0 20px 0px 100px);
        }

        @media all and (min-width: $screen-lg) {
            margin-right: -120px;
        }
    }

    a {
        display: table;
        margin: auto;

        @media all and (min-width: $screen-sm) {
            margin-left: 0px;
        }
    }
}

.fw-wrap--step-2 {
    background-color: white;
    @include fw-wrap-padding;

    .container > .row {
        @include display(flex);
        @include align-items(stretch);
        @include flex-direction(column);

        > div:first-child {
            order: 2;

            @media all and (min-width: $screen-sm) {
                order: 1;
            }
        }

        > div:Last-child {
            order: 1;

            @media all and (min-width: $screen-sm) {
                order: 2;
            }
        }

        @media all and (min-width: $screen-sm) {
            @include flex-direction(row);
        }
    }


    svg {
        width: 100%;
        height: 250px;
        display: block;
        margin: auto;
        max-width: 300px;
        margin-top: 30px;

        @media all and (min-width: $screen-sm) {
            max-width: initial;
            margin-top: 0px;
            width: 100%;
            height: 100%;
            @include position(absolute, 0px null null 0px);
            @include padding(0 50px 0px 20px);
        }

        @media all and (min-width: $screen-md) {
            @include padding(0 100px 0px 20px);
        }

        @media all and (min-width: $screen-lg) {
            @include padding(0px 20px);
            margin-left: -120px;
        }
    }

    a {
        display: table;
        margin: auto;

        @media all and (min-width: $screen-sm) {
            margin-left: 0px;
        }
    }
}

.fw-wrap--step-3 {
    background-color: $blue-2;
    @include fw-wrap-padding;

    .container > .row {
        @include display(flex);
        @include align-items(stretch);
        @include flex-direction(column);

        @media all and (min-width: $screen-sm) {
            @include flex-direction(row);
        }
    }

    svg {
        width: 80%;
        height: 250px;
        display: block;
        margin: auto;
        max-width: 300px;
        margin-top: 30px;

        @media all and (min-width: $screen-sm) {
            max-width: initial;
            margin-top: 0px;
            width: 100%;
            height: 100%;
            @include position(absolute, 0px null null 0px);
            @include padding(0 20px 0px 70px);
        }

        @media all and (min-width: $screen-md) {
            @include padding(0 20px 0px 140px);
        }

        @media all and (min-width: $screen-lg) {
            @include padding(0 20px 0px 200px);
            margin-right: -120px;
        }
    }

    a {
        display: table;
        margin: auto;

        @media all and (min-width: $screen-sm) {
            margin-left: 0px;
        }
    }
}


.fw-wrap--step-4 {
    background-color: white;
    @include fw-wrap-padding;

    .container > .row {
        @include display(flex);
        @include align-items(stretch);
        @include flex-direction(column);

        > div:first-child {
            order: 1;

            @media all and (min-width: $screen-sm) {
                order: 1;
            }
        }

        > div:Last-child {
            display: flex;
            align-items: center;
            order: 2;

            @media all and (min-width: $screen-sm) {
                order: 2;
            }
        }

        @media all and (min-width: $screen-sm) {
            @include flex-direction(row);
        }
    }

    a {
        width: 100%;
        max-width: 500px;
        display: block;
        margin: 40px auto;
    }

    img {
        display: block;
        width: 100%;
    }
}
