@mixin  wrap-dims($color){
    background-color: $color;
    min-height: 600px;
    @include padding(40px 0);

    @media all and (min-width: $screen-sm) {
        @include padding(80px 0);
    }

    .col-md-4:last-child {
        > div {
            margin-bottom: 0px;

            @media all and (min-width: $screen-sm) {
                margin-bottom: 35px;
            }
        }
    }

    &.double-padding {
        @include padding(40px 0 80px);

        @media all and (min-width: $screen-sm) {
            @include padding(140px 0);
        }
    }

    &.short {
        min-height: auto;

        .centered-heading, p {
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }
}

.fw-wrap {
    @include wrap-dims($white);

    &--blue {
        @include wrap-dims($blue-1);
        color: white;

        * {
            color: inherit;
        }
    }

    &--light-blue {
        @include wrap-dims($blue-2);
    }

    &--green {
        @include wrap-dims($teal-1);
    }

    &--light-green {
        @include wrap-dims($teal-2);
    }

    &--red {
        @include wrap-dims($red-1);
    }
}


.fw-wrap--video {
    background-color: $grey-1;
    background-size: cover;
    position: relative;
    max-height: 470px;
    overflow: hidden;
    @include transition(all .4s ease-in-out);

    &::before {
        content: "";
        @include position(absolute, 0px null null 0px);
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
    }

    .centered-heading {
        color: white;
        position: absolute;
        z-index: 3;
        top: 50%;
        @include transform(translate3d(0, -50%, 0));
        width: 100vw;
        opacity: 1;
        @include transition(opacity .3s ease);

        &.remove {
            opacity: 0;
        }
    }
}


.fw-wrap--about-us {
    background-color: $yellow-3;
    @include padding(40px 0);

    @media all and (min-width: $screen-sm) {
        @include padding(70px 0);
    }
}
