.ghost-panel {
    @extend .panel;

    border: 1px solid $grey-2;
    border-radius: $global-radius;
    @include display(flex);
    @include flex-direction(column);
    @include padding(20px);

    h4 {
        font-size: $font-size-base;
        text-align: left;
    }

    p {
        font-size: $font-size-small;
        text-align: left;
    }

    a {
        margin-top: auto;
        @include font-proxima(600);
        color: $red-1;
        text-align: left;
    }
}

.ghost-panel--section-padding {
    @include padding(40px 0);

    @media all and (min-width: $screen-sm) {
        @include padding(80px 0);
    }
}
