.ghost-panel {
    @extend .panel;

    border: 1px solid $grey-2;
    border-radius: $global-radius;
    @include display(flex);
    @include flex-direction(row);
    @include padding(0px);
    overflow: hidden;

    @media all and (min-width: $screen-sm) {
        @include padding(20px);
    }

    h4 {
        text-align: left;
        margin-bottom: 20px;

        a {
            color: inherit;
            font-weight: 700;
            display: block;
        }
    }

    p {
        font-size: $font-size-small;
        text-align: left;
        padding-top: 0px;
        white-space: normal;
        width: 100%;
    }

    ul {
        li {
            @include font-sans(400);
            font-size: $font-size-small;
            line-height: $lineheight-small;
            text-align: left;
        }
    }
}

.ghost-panel--nav-options {

    p {
        display: none;

        @media all and (min-width: $screen-sm) {
            display: block;
        }
    }

    .ghost-panel--content {
        h4 {
            margin-bottom: 0px;

            @media all and (min-width: $screen-sm) {
                margin-bottom: 20px;
            }

            > a {
                display: block;
                color: inherit;
                font-weight: 700;
            }
        }

        a {
            display: none;

            @media all and (min-width: $screen-sm) {
                display: block;
            }
        }
    }
}

.ghost-panel--section-padding {
    @include padding(40px 0);

    @media all and (min-width: $screen-sm) {
        @include padding(80px 0);
    }
}

.ghost-panel--content {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include padding(20px);
    width: 100%;

    @media all and (min-width: $screen-sm) {
        @include justify-content(space-between);
        @include padding(0px);
    }

    a {
        @include font-proxima(600);
        color: $red-1;
        text-align: left;

        @media all and (min-width: $screen-sm) {
            display: block;
            margin-top: auto;
        }
    }
}

.ghost-panel--mobile-chevron {
    @include display(flex);
    @include align-items(center);
    @include padding(10px);
    width: 30px;
    margin-left: auto;
    background-color: $grey-9;

    svg {
        width: 20px;
        height: 20px;
    }

    @media all and (min-width: $screen-sm) {
        display: none;
    }
}

.swiper-slide {
    &.ghost-panel {
        opacity: 0.4;
        @include transition(opacity 0.3s ease);

        p, a {
            display: block!important;
        }

        h4 {
            margin-bottom: 20px;
        }

        .ghost-panel--read-more {
            text-align: right;
        }

        &.swiper-slide-active {
            opacity: 1;

            + .ghost-panel {
                opacity: 1;

                + .ghost-panel {
                    opacity: 1;
                }
            }
        }
    }
}
