.grid {
    .video {
        background-color: $grey-3;
    }

    .downloads {
        background-color: $grey-4;
    }

    .category {
        background-color: $grey-5;
    }
}

.grid--wrapper {
    padding-bottom: 80px;
    margin-top: 10px;

    @media all and (min-width: $screen-sm) {
        display: block;
        margin-top: 0px;
    }
}

.grid--navigation {
    margin-top: 50px;
    margin-bottom: 30px;
    display: none;

    @media all and (min-width: $screen-sm) {
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
    }

    li {
        margin-right: 10px;
        @include font-proxima(600);
        @include padding(10px 15px);
        background-color: white;
        @include transition(all .3s ease);

        &.active {
            background-color: $blue-2;
            border-radius: 3px;
        }
    }
}

.grid--matrix {
    @include margin(0 5px);
}

.grid-item {
    width: calc(100% - 20px);
    @include margin(10px);
    height: 360px;
    background-color: $grey-3;
    position: relative;
    float: left;


    .grid-item__content {
        padding: 20px;
        @include position(absolute, 0 null null 0);
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        z-index: 3;
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(flex-end);
        background-size: cover;

        &::before {
            content: "";
            @include position(absolute, 0 null null 0);
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.6);
        }

        p {
            padding-bottom: 0px;
        }

        &--title {
            @include font-proxima(600);
            text-decoration: none;
            color: white;
            position: relative;
            z-index: 3;

            a {
                color: white;
                text-decoration: none;
            }
        }

        &--date {
            @include font-sans(300);
            font-size: 13px;
            color: white;
            position: relative;
            z-index: 3;
        }
    }

    @media all and (min-width: $screen-sm) {
        width: calc(25% - 20px);
    }

    &.grid-item--width2 {
        @include margin(10px);
        height: 360px;
        width: calc(100% - 20px);
        background-color: $grey-4;

        .grid-item__content {
            @media all and (min-width: $screen-sm) {
                padding-right: 30%;
            }
        }

        @media all and (min-width: $screen-sm) {
            width: calc(50% - 20px);
        }
    }
}
