.guide-signup-form {
    overflow: hidden;
}

.guide-signup-form--iphone {
    width: 250px;
    margin: 40px auto 0px;
    display: block;

    @media all and (min-width: $container-desktop) {
        width: 100%;
        margin: auto;
    }
}
