@mixin short-coloured-hero($color, $text-color){
    height: 150px;
    background-color: $color;
    position: relative;

    h2 {
        padding-top: 65px;
        color: $text-color;
        position: relative;
        z-index: 2;

        @media all and (min-width: $screen-sm) {
            padding-top: 115px;
        }
    }

    @media all and (min-width: $screen-sm) {
        height: 270px;
    }
}

.hero {
    &--contact, &--how-it-works {
        @include short-coloured-hero($teal-3, $white);
        overflow: hidden;
    }

    &--news-content-hub {
        @include short-coloured-hero($yellow-4, $grey-8);
    }

    &--news-content-hub-fa {
        @include short-coloured-hero($red-1, $white);
    }

    &--faqs {
        @include short-coloured-hero($blue-3, $white);
    }

    &--faqs-fa {
        @include short-coloured-hero($red-1, $white);
    }

    &--news-story {
        min-height: 350px;
        background-color: black;
        @include display(flex);
        @include align-items(center);
        overflow:hidden;
        background-size: cover;
        position: relative;

        > .container {
            @media all and (max-width: $screen-sm) {
                width: 100%;
            }
        }

        @media all and (min-width: $screen-sm) {
            min-height: 625px;
        }
    }
}
