.hero {
    &--contact {
        height: 150px;
        background-color: $teal-3;

        h2 {
            padding-top: 65px;
            color: white;

            @media all and (min-width: $screen-sm) {
                padding-top: 110px;
            }
        }

        @media all and (min-width: $screen-sm) {
            height: 270px;
        }
    }
}
