.index-bg--home {
    overflow: hidden;
    position: relative;
    padding-bottom: 0px!important;

    @media all and (min-width: $screen-sm) {
        padding: 80px 0 0!important;
    }

    @media all and (min-width: $screen-md) {
        padding: 140px 0!important;
    }


    img {
        position: absolute;
        display: none;
        bottom: 0;
    }

    .index-bg--mob {
        position: relative;
        display: block;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);

        @media all and (min-width: $screen-sm) {
            display: none;
        }
    }

    .index-bg--tablet {
        display: none;

        @media all and (min-width: $screen-sm) {
            display: block;
            position: relative;
            display: block;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
        }

        @media all and (min-width: $screen-md) {
            display: none;
        }
    }

    .index-bg--desktop {
        @media all and (min-width: $screen-md) {
            display: block;
            width: 65%;
            right: 40px;
        }
    }
}

.index-bg--rising-metro {
    overflow: hidden;
    position: relative;
    padding-bottom: 0px!important;

    @media all and (min-width: $screen-sm) {
        padding: 80px 0 0!important;
    }

    @media all and (min-width: $screen-md) {
        padding: 140px 0!important;
    }


    img {
        position: absolute;
        display: none;
        bottom: 0;
    }

    .index-bg--mob {
        position: relative;
        display: block;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 40px;

        @media all and (min-width: $screen-sm) {
            display: none;
        }
    }

    .index-bg--tablet {
        display: none;

        @media all and (min-width: $screen-sm) {
            display: block;
            position: relative;
            display: block;
            width: 60%;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 40px;
        }

        @media all and (min-width: $screen-md) {
            display: none;
        }
    }

    .index-bg--desktop {
        @media all and (min-width: $screen-md) {
            display: block;
            width: 45%;
            left: calc(50% + 20px);
            max-width: 700px;
        }
    }
}


.index-bg--b2b {
    overflow: hidden;
    position: relative;
    padding-bottom: 0px!important;

    @media all and (min-width: $screen-sm) {
        padding: 80px 0 0!important;
    }

    @media all and (min-width: $screen-md) {
        padding: 140px 0!important;
    }


    img {
        position: absolute;
        display: none;
        bottom: 0;
    }

    .index-bg--mob {
        position: relative;
        display: block;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);

        @media all and (min-width: $screen-sm) {
            display: none;
        }
    }

    .index-bg--tablet {
        display: none;

        @media all and (min-width: $screen-sm) {
            display: block;
            position: relative;
            display: block;
            width: 550px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media all and (min-width: $screen-md) {
            display: none;
        }
    }

    .index-bg--desktop {
        @media all and (min-width: $screen-md) {
            display: block;
            width: 650px;
            right: 0;
        }
    }
}


.index-bg--rich-greys {
    overflow: hidden;
    position: relative;
    padding-bottom: 0px!important;

    @media all and (min-width: $screen-sm) {
        padding: 80px 0 0!important;
    }

    @media all and (min-width: $screen-md) {
        padding: 140px 0!important;
    }


    img {
        position: absolute;
        display: none;
        bottom: 0;
    }

    .index-bg--mob {
        position: relative;
        display: block;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 40px;
        padding-top: 20px;
        max-width: 400px;

        @media all and (min-width: $screen-sm) {
            display: none;
        }
    }

    .index-bg--tablet {
        display: none;

        @media all and (min-width: $screen-sm) {
            position: relative;
            display: block;
            width: 70%;
            left: 50%;
            transform: translateX(-50%);
            padding-bottom: 40px;
            padding-top: 20px;
            max-width: 400px;
        }

        @media all and (min-width: $screen-md) {
            display: none;
        }
    }

    .index-bg--desktop {
        @media all and (min-width: $screen-md) {
            display: block;
            width: 450px;
            left: calc(50% + 80px);
            top: 50%;
            transform: translate3d(0,-50%,0);
        }
    }
}


.index-bg--smart-alec {
    overflow: hidden;
    position: relative;
    padding-bottom: 0px!important;

    @media all and (min-width: $screen-sm) {
        padding: 80px 0 0!important;
    }

    @media all and (min-width: $screen-md) {
        padding: 140px 0!important;
    }


    img {
        position: absolute;
        display: none;
        bottom: 0;
    }

    .index-bg--mob {
        position: relative;
        display: block;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 40px;
        padding-top: 20px;
        max-width: 400px;

        @media all and (min-width: $screen-sm) {
            display: none;
        }
    }

    .index-bg--tablet {
        display: none;

        @media all and (min-width: $screen-sm) {
            position: relative;
            display: block;
            width: 70%;
            left: 50%;
            transform: translateX(-50%);
            padding-bottom: 40px;
            padding-top: 20px;
            max-width: 400px;
        }

        @media all and (min-width: $screen-md) {
            display: none;
        }
    }

    .index-bg--desktop {
        @media all and (min-width: $screen-md) {
            display: block;
            width: 450px;
            left: calc(50% + 80px);
            top: 50%;
            transform: translate3d(0,-50%,0);
        }
    }
}

.index-bg--retirement {
    overflow: hidden;
    position: relative;
    padding-bottom: 0px!important;

    @media all and (min-width: $screen-sm) {
        padding: 80px 0 0!important;
    }

    @media all and (min-width: $screen-md) {
        padding: 140px 0!important;
    }


    img {
        position: absolute;
        display: none;
        bottom: 0;
    }

    .index-bg--mob {
        position: relative;
        display: block;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 20px;
        max-width: 350px;

        @media all and (min-width: $screen-sm) {
            display: none;
        }
    }

    .index-bg--tablet {
        display: none;

        @media all and (min-width: $screen-sm) {
            position: relative;
            display: block;
            width: 70%;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 40px;
            max-width: 400px;
        }

        @media all and (min-width: $screen-md) {
            display: none;
        }
    }

    .index-bg--desktop {
        @media all and (min-width: $screen-md) {
            display: block;
            width: 550px;
            left: calc(50% + 80px);
        }
    }
}
