$map-height: 760px;

.map {
    &--wrapper {
        overflow: hidden;
        width: 100%;
        position: relative;

        @media all and (min-width: $container-tablet) {
            display: block;
            height: $map-height;
        }
    }

    &--unit {
        display: none;
        height: $map-height;

        @media all and (min-width: $container-tablet) {
            display: block;
        }
    }

    &--teaser {
        border: 1px solid $grey-6;
        margin-top: 60px;
        padding-top: 40px;
        border-radius: $global-radius;
    }
}


.map__overlay {
    width: calc(100% - 50px);
    height: 100%;
    @include position(fixed, 0 0 null null);
    background-color: white;
    @include transition(all .25s ease-in-out);
    @include transform(translate3d(calc(100% + 90px), 0, 0));

    @media all and (min-width: $container-tablet){
        height: $map-height;
        @include position(absolute, 0 0 null null);
        width: 550px;
    }

    &.active {
        @include transform(translate3d(0, 0, 0));
        z-index: 9;
    }

    &--close {
        background-color: $red-1;
        height: 50px;
        width: 50px;
        @include position(absolute, 0 null 0 -50px);
        @include padding(18px);

        @media all and (min-width: $container-tablet){
            @include position(absolute, 0 null 0 -84px);
            height: 84px;
            width: 84px;
        }

        > span {
            color: $white;
            @include transform(rotate(45deg));
            transform-origin: 50% 50%;
            @include font-sans(400);
            display: inline-block;
            font-size: 50px;
            @include position(absolute, -1px 9px null null);

            @media all and (min-width: $container-tablet){
                font-size: 85px;
                @include position(absolute, -2px 15px null null);

            }
        }
    }

    &--title {
        @include padding(13px 13px 13px 20px);

        @media all and (min-width: $container-tablet){
            padding: 30px;
        }
    }

    &--gallery {
        @include display(flex);
        @include flex-direction(row);
        height: auto;
        overflow: hidden;

        @media all and (min-width: $container-tablet){
            height: 300px;
        }
    }

    &--spotlight {
        width: 80%;
        overflow: hidden;
    }

    &--contents {
        padding: 30px;

        > p {
            padding-top: 0px;
            font-weight: 300;
        }

        ul {
            li {
                font-size: $font-size-small;
                line-height: $lineheight-small;

                @media all and (min-width: $container-tablet){
                    font-size: $font-size-base;
                    line-height: $lineheight-base;
                }
            }
        }

        span {
            display:inline-block;
            width: 27px;
            height: 16px;
            @include transform(rotate(45deg) scale(1.5));

            &::before {
                content: "";
                position: absolute;
                width:2px;
                height:9px;
                background-color:$grey-3;
                left:11px;
                top:6px;
            }

            &::after {
                content: "";
                position: absolute;
                width:3px;
                height:2px;
                background-color:$grey-3;
                left:8px;
                top:13px;
            }
        }

        a {
            @include position(absolute, null null 30px null);
            width: calc(100% - 60px);
            text-align: center;
        }
    }

    &--thumbnails {
        width: 20%;
        @include display(flex);
        @include flex-direction(column);
        background-color: $white;
        position: relative;

        a {
            width: 100%;
            background-color: black;
            position: relative;
            cursor: pointer;

            &.active > img {
                opacity: 1;
            }

            &:hover > img {
                opacity: 1;
            }
        }

        img {
            width: 100%;
            display: block;
            opacity: 0.4;
            @include transition(opacity .3s ease);
        }
    }
}


.map__overlay--carousel-track {
    width: 100%;
    @include transition(all .3s ease);

    > img {
        width: 100%;
        float: left;

        @media all and (min-width: $container-tablet){
            width: 440px;
        }
    }
}


.map__overlay--loading {
    @include position(absolute, 0 0 null null);
    @include transition(all .3s ease);
    opacity: 0;
    background-color: $white;
    width: 100%;
    height: 100%;
    z-index: 3;

    &.active {
        opacity: 1;
    }

    .spinner {
      width: 40px;
      height: 40px;
      margin: 100px auto;
      background-color: #333;

      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }
}


@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
