.container--tabs {
	@include padding(40px 0);
	position: relative;

	@media all and (min-width: $screen-sm) {
		@include padding(70px 0);
	}

	.nav-tabs {
		float: left;
		width: 100%;
		margin: 0;
		list-style-type: none;
		border-bottom: 1px solid $grey-6;
		padding-top: 40px;
		display: none;

		@media all and (min-width: $screen-sm) {
			display: block;
		}

		> li {
			float: left;
			margin-bottom: -1px;

			> a {
				float: left;
				margin-right: 2px;
				padding: 15px 25px 12px;
				width: 270px;
				border: 1px solid $grey-6;
				@include font-proxima(700);
				font-size: $font-size-h5;
			}

			&.active {
				> a,
				> a:hover,
				> a:focus {
					color: #555;
					cursor: default;
					background-color: #fff;
					border: 1px solid $grey-6;
					border-bottom-color: transparent;
				}
			}
		}
	}

	.tab-content {
		float: left;
		width: 100%;

		> .tab-pane {
			display: none;

			&.active {
				display: block;
			}
		}

		> .active {
			display: block;
		}
	}

}


.nav-tabs--border {
	width: 100%;
	border-top: 1px solid $grey-6;
	@include position(absolute, 216px null null);
	display: none;

	@media all and (min-width: $screen-sm) {
		display: block;
	}
}
