.navigation {
    background-color: $white;
    border-bottom: 2px solid $blue-2;
    border-top: 1px solid $grey-2;
    @include transition(max-height .3s ease-in-out);
    max-height: 55px;
    overflow: hidden;
    @include position(fixed, 0px null null);
    width: 100%;
    z-index: 99;

    &.open {}

    @media all and (min-width: $screen-md) {
        height: 55px;
        overflow: visible;
    }

    .col-md-12, .container, .row {
        height: 100%;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;

        @media all and (min-width: $screen-md) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.navigation__list--wrapper {
    height: 55px;

    @media all and (min-width: $screen-md) {
        height: auto;
    }
}

.navigation__list {
    text-align: center;
    display: block;

    @media all and (min-width: $screen-md) {
        display: inline-block;
    }

    li {
        display: inline-block;
        font-size: $font-size-small;
        @include font-proxima(700);
        padding-top: 3px;
        border-bottom: 1px solid #e5e9ee;

        @media all and (min-width: $screen-md) {
            border-bottom: none;
            height: 52px;
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);

            &:first-child {
                display: inline-block;
                height: auto;
            }
        }

        &.mobile-only {
            display: block;

            @media all and (min-width: $screen-md) {
                display: none;
            }
        }

        &.hide-for-mobile {
            display: none;

            @media all and (min-width: $screen-md) {
                @include display(flex);
            }
        }

        &:last-child {
            margin-right: 0px;
        }

        > a {
            font-size: inherit;
        }
    }

    &--login {
        width: 100%;
        height: 100%;
        float: right;
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include padding(15px 0);
        border-top: 1px solid #e5e9ee;
        border-bottom: 1px solid #e5e9ee;

        @media all and (min-width: $screen-md) {
            @include padding(0px);
            width: auto;
            @include justify-content(space-between);
            border: none;
        }

        li {
            margin-right: 20px;
            @include padding(15px 0);
            border-bottom: none;
            width: 50%;

            @media all and (min-width: $screen-md) {
                width: auto;
                @include padding(0px);
            }

            &:last-child {
                @include margin(0px);

                a {
                    @media all and (max-width: 767px) {
                        @include button($white, $red-1, $red-1);
                        font-size: $font-size-small;
                        padding: 0.9em 2.4em 0.9em;
                    }
                }
            }
        }

        img {
            display: none;
        }
    }

    &--mob-option {
        float: right;
        height: 55px;

        li {
            padding-top: 0px;
            box-sizing: border-box;
            border-bottom: none;
            border-left: 1px solid $grey-1;
            width: 55px;
            height: 55px;
            display: block;
            float: left;

            > a {
                display: block;
                @include padding(15px 17px);
                box-sizing: border-box;
                width: 55px;
                height: 55px;
            }

            &:last-child > a {
                @include padding(17px 15px);

                @media all and (min-width: $screen-sm) {
                    border-right: 1px solid $grey-1;
                }
            }

            img {
                width: 100%;
                display: block;
            }
        }

        @media all and (min-width: $screen-md) {
            display: none;
        }
    }

    &--main {
        float: none;
        width: 100%;
        height: calc(100vh - 58px);
        display: block;

        li {
            width: 100%;
            @include padding(15px 0);

            @media all and (min-width: $screen-md) {
                padding: 0px;
            }

            &:first-child {
                display: none;

                @media all and (min-width: $screen-md) {
                    display: block;
                    max-width: 210px;
                    min-width: 210px;
                }
            }
        }

        @media all and (min-width: $screen-md) {
            width: 75%;
            float: left;
            @include display(flex);
            @include flex-direction(row);
            @include align-items(center);
            @include justify-content(space-between);
            height: 100%;

            li {
                width: 100%;
            }
        }

    }

    .short {
        @media all and (min-width: $screen-md) {
            max-width: 110px;
            min-width: 110px;
        }

        @media all and (min-width: $screen-lg) {
            max-width: 140px;
            min-width: 140px;
        }
    }
}

.navigation__logo {
    padding-top: 0px;

    &--mob {
        display: block!important;
        @include padding(21px 0 16px 20px);
        float: left;
        width: 185px;

        @media all and (min-width: $screen-md) {
            display: none!important;
        }
    }

    &--dt {
        display: none!important;

        @media all and (min-width: $screen-md) {
            display: block!important;
        }
    }
}

.navigation__dropdown {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include transition(all .3s ease);
    position: relative;
    cursor: pointer;
    padding: 15px!important;
    min-width: 200px;

    > a {
        width: 100%;
        background-color: $grey-3;
        display: block;
        color: $white;
        @include padding(15px);
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        @media all and (min-width: $screen-md) {
            background-color: transparent;
            color: black;
            @include padding(0px);
            width: auto;
            border-radius: none;
        }
    }

    &::after {
        content:"";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 6px;
        border-color: transparent transparent transparent $red-1;
        margin-left: 12px;
        @include transition(all .3s ease);
        display: none;
        @include transform(rotate(90deg));

        @media all and (min-width: $screen-md) {
            display: block;
        }
    }

    @media all and (min-width: $screen-md) {
        @include padding(0px!important);

        &:hover {
            background-color: $blue-2;

            .navigation__dropdown--panel {
                max-height: 300px;
            }
        }
    }

    &--panel {
        background-color: white;
        z-index: 3;
        top: 0;
        width: 100%;
        max-height: initial;
        @include transition(max-height .3s ease);
        display: block;

        @media all and (min-width: $screen-md) {
            max-height: 0px;
            overflow: hidden;
            position: absolute;
            margin-top: 52px;
            left: 0px;
        }

        li {
            padding: 18px 15px;
            text-align: center;
            background-color: $grey-3;
            border-top: 1px solid black;
            border-bottom: none;
            color: white;

            &:first-child {
                display: block!important;
                max-width: inherit;

                @media all and (min-width: $screen-md) {
                    border-top: 2px solid $blue-2;
                }
            }

            &:last-child {
                -webkit-border-bottom-right-radius: 3px;
                -webkit-border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;

                @media all and (min-width: $screen-md) {
                    border-radius: 0px;
                }
            }
        }
    }
}
