.navigation {
    background-color: $white;
    border-bottom: 2px solid $blue-2;
    border-top: 1px solid $grey-2;
    @include transition(max-height .3s ease-in-out);
    max-height: 55px;
    overflow: hidden;

    &.open {}

    @media all and (min-width: $container-tablet) {
        height: 55px;
    }

    .col-md-12, .container, .row {
        height: 100%;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;

        @media all and (min-width: $container-tablet) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.navigation__list--wrapper {
    height: 55px;

    @media all and (min-width: $container-tablet) {
        height: auto;
    }
}

.navigation__list {
    text-align: center;
    display: inline-block;

    li {
        display: inline-block;
        font-size: $font-size-small;
        @include font-proxima(700);
        padding-top: 3px;
        border-bottom: 1px solid #e5e9ee;

        @media all and (min-width: $container-tablet) {
            border-bottom: none;
        }

        &:last-child {
            margin-right: 0px;
        }

        > a {
            font-size: inherit;
        }
    }

    &--login {
        width: 100%;
        height: 100%;
        float: right;
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include padding(15px 0);
        border-top: 1px solid #e5e9ee;
        border-bottom: 1px solid #e5e9ee;

        @media all and (min-width: $container-tablet) {
            @include padding(0px);
            width: auto;
            @include justify-content(space-between);
            border: none;
        }

        li {
            margin-right: 20px;
            @include padding(15px 0);
            border-bottom: none;
            width: 50%;

            @media all and (min-width: $container-tablet) {
                width: auto;
                @include padding(0px);
            }

            &:last-child {
                @include margin(0px);

                a {
                    @media all and (max-width: 767px) {
                        @include button($white, $red-1, $red-1);
                        font-size: $font-size-small;
                        padding: 0.9em 2.4em 0.9em;
                    }
                }
            }
        }

        img {
            display: none;
        }
    }

    &--mob-option {
        float: right;
        height: 55px;

        li {
            padding-top: 0px;
            box-sizing: border-box;
            border-bottom: none;
            border-left: 1px solid $grey-1;
            width: 55px;
            height: 55px;
            display: block;
            float: left;

            > a {
                display: block;
                @include padding(15px 17px);
                box-sizing: border-box;
                width: 55px;
                height: 55px;
            }

            &:last-child > a {
                @include padding(17px 15px);
            }

            img {
                width: 100%;
                display: block;
            }
        }

        @media all and (min-width: $container-tablet) {
            display: none;
        }
    }

    &--main {
        float: none;
        width: 100%;
        height: 100%;
        display: block;

        li {
            width: 100%;
            @include padding(15px 0);

            @media all and (min-width: $container-tablet) {
                padding: 0px;
            }

            &:first-child {
                display: none;

                @media all and (min-width: $container-tablet) {
                    display: block;
                }
            }
        }

        @media all and (min-width: $container-tablet) {
            width: 75%;
            float: left;
            @include display(flex);
            @include flex-direction(row);
            @include align-items(center);
            @include justify-content(space-between);

            li {
                width: 100%;
            }
        }

        // @media all and (min-width: $container-xlarge-desktop) {
        //     width: 65%;
        // }
    }
}

.navigation__logo {
    padding-top: 0px;

    &--mob {
        display: block!important;
        @include padding(21px 0 16px 20px);
        float: left;
        width: 185px;

        @media all and (min-width: $container-tablet) {
            display: none!important;
        }
    }

    &--dt {
        display: none!important;

        @media all and (min-width: $container-tablet) {
            display: block!important;
            width: 210px!important;
        }
    }
}
