.option-panel {
    width: 100%;
    @include clearfix;

    @media all and (min-width: $screen-sm) {
        border-top: 1px solid $grey-6;
    }

    .column {
        width: 100%;
        @include padding(20px);
        @include display(flex);
        @include flex-direction(column);

        @media all and (min-width: $screen-sm) {
            @include padding(80px);
            width: 50%;
            float: left;
        }

        @media all and (min-width: $screen-md) {
            @include padding(80px 15% 80px 80px);
        }

        &:last-child {
            border-top: 1px solid $grey-6;

            @media all and (min-width: $screen-sm) {
                border-top: none;
                border-left: 1px solid $grey-6;
            }
        }
    }

    a {
        display: table;
        margin-top: auto;
    }

    h3 {
        @include heading--h2;
    }

    p {
        padding-bottom: 20px;

        @media all and (min-width: $screen-sm) {
            padding-bottom: 40px;
        }

        @media all and (min-width: $screen-md) {
            padding-bottom: 80px;
        }
    }
}
