.panel {
    width: 100%;
    border-radius: $global-radius;
    background-color: white;
    @include padding(20px);
    margin-bottom: 35px;

    @media all and (min-width: $container-tablet) {
        margin-bottom: 0px;
    }

    * {
        text-align: center;
    }

    p {
        font-weight: 300;
    }
}
