.section-bg {
    &__hero-home {
        img {
            width: 1500px;
            position: absolute;
            bottom: 0px;
            left: 50%;
            margin-left: -750px;
        }
    }

    &__hero-contact, &__hero-how-it-works {
        img {
            width: 150%;
            position: absolute;
            bottom: 0px;
            left: -25%;
            z-index: 0;

            @media all and (min-width: $screen-sm) {
                width: 1300px;
                left: 50%;
                margin-left: -650px;
            }
        }
    }

    &__get-started {
        img {
            width: 1500px;
            position: absolute;
            left: 50%;
            bottom: 0px;
            margin-left: -750px;
        }
    }

    &__rock {
        background: #226bba url(../images/bg/blue-rock-mob.jpg) bottom center no-repeat;
        background-size: contain;

        @media all and (min-width: $mobile-only) {
            background: #226bba url(../images/bg/blue-rock.png) bottom center no-repeat;
            background-size: cover;
        }
    }

    &__simple-investment {
        background: #226bba url(../images/bg/blue-arrows-houses-mob.png) bottom center no-repeat;
        background-size: 100%;

        @media all and (min-width: 445px) {
            background: #226bba url(../images/bg/blue-arrows-houses-tablet.png) bottom center no-repeat;
            background-size: contain;
        }

        @media all and (min-width: $screen-sm) {
            background: #226bba url(../images/bg/blue-arrows-houses.png) bottom center no-repeat;
            background-size: contain;
        }
    }

    &__rich-greys {
        background: #226bba url(../images/bg/blue-coins-mob.png) bottom center no-repeat;
        background-size: contain;
        min-height: 500px;

        @media all and (min-width: $screen-sm) {
            background: #226bba url(../images/bg/blue-coins.png) center center no-repeat;
            background-size: contain;
        }
    }

    &__smart-alec {
        background: #0074bb url(../images/bg/blue-houses-mob.png) bottom center no-repeat;
        background-size: contain;
        min-height: 550px;

        @media all and (min-width: $screen-sm) {
            background: #0074bb url(../images/bg/blue-houses.png) center center no-repeat;
            background-size: contain;
        }
    }

    &__road-to-retirement {
        background: #0074bb url(../images/bg/blue-ladder-mob.png) bottom center no-repeat;
        background-size: contain;
        min-height: 500px;

        @media all and (min-width: $screen-sm) {
            background: #0074bb url(../images/bg/blue-ladder.png) bottom center no-repeat;
            background-size: contain;
        }
    }


    &__hard-work {
        background: #0074bb url(../images/bg/blue-piggybank-mob.png) bottom center no-repeat;
        background-size: contain;
        min-height: 550px;

        @media all and (min-width: $screen-sm) {
            background: #0074bb url(../images/bg/blue-piggybank.png) right center no-repeat;
            background-size: contain;
        }
    }
}
