.section-bg {
    &__hero {
        img {
            width: 1500px;
            position: absolute;
            bottom: 0px;
            left: 50%;
            margin-left: -750px;
        }
    }

    &__get-started {
        img {
            width: 1500px;
            position: absolute;
            left: 50%;
            bottom: 0px;
            margin-left: -750px;
        }
    }

    &__hard-work {
        background: #226bba url(../images/bg/blue-rock-mob.jpg) bottom center no-repeat;
        background-size: contain;

        @media all and (min-width: $mobile-only) {
            background: #226bba url(../images/bg/blue-rock.png) bottom center no-repeat;
            background-size: cover;
        }
    }
}
