.slider--wrapper {
    overflow: hidden;
    position: relative;
}

.slider {
    position: relative;

    .frame {
        width: 320px;
        margin: auto;

        @media all and (min-width: $screen-sm) {
            width: 100%;
        }

        position: relative;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        white-space: nowrap;
    }

    .slides {
        display: inline-block;
    }

    .js_dots {
        text-align: center;
        display: block;
        @media all and (min-width: $screen-sm) {
            display: none;
        }


        li {
            height: 12px;
            width: 12px;
            background-color: $grey-3;
            border-radius: 50%;
            opacity: 0.5;
            @include transition(opacity .3s ease);
            margin: 25px 10px 0px;

            &.active {
                opacity: 1;
            }
        }
    }

    li {
        position: relative;
        display: inline-block;
        width: 320px;

        @media all and (min-width: $screen-sm) {
            width: 345px;
        }

        @media all and (min-width: $screen-md) {
            width: 293.33px;
        }

        @media all and (min-width: $screen-lg) {
            width: 370px;
        }
        @include margin(0px 15px);
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        margin-top: -25px;
        display: block;
        cursor: pointer;
        border-radius: 50%;
        background-color: $grey-7;
        height: 40px;
        width: 40px;
        padding: 16px;
    }

    .next {
        right: -70px;
    }

    .prev {
        left: -70px;
        @include transform(rotate(180deg));
    }

    .next svg, .prev svg {
        width: 11px;
        position: absolute;
        top: 11px;
    }
}
