.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    background-color: $grey-7;
    height: 40px;
    width: 40px;
    padding: 16px;
    background-image: none;
    display: none;
}

.swiper-button-next {
    right: -70px;
}

.swiper-button-prev {
    left: -70px;
    @include transform(rotate(180deg));
}

.swiper-button-next svg, .swiper-button-prev svg {
    width: 11px;
    position: absolute;
    top: 11px;
}

.swiper-container--overflow {
    overflow: visible;
}

.swiper-pagination {
    position: relative;
    padding-top: 40px;

    @media all and (min-width: $screen-md) {
        display: none;
    }

    &-bullet {
        width: 10px;
        height: 10px;
    }

    &-bullet-active {
        background-color: $grey-3;
    }
}

.swiper-initialised {
    .swiper-button-next, .swiper-button-prev {
        display: block;

        @media all and (max-width: $screen-md) {
            display: none;
        }
    }
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-slide {
        width: 350px;
        margin: 0 20px;
    }
}

.swiper-initialised  {
    .swiper-wrapper {
        align-items: initial;
        justify-content: initial;

        .swiper-slide {
            width: auto;
            margin: auto;
        }
    }
}
