.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    background-color: $grey-7;
    height: 40px;
    width: 40px;
    padding: 16px;
    background-image: none;
    display: none;

    @media all and ($screen-md) {
        display: block;
    }
}

.swiper-button-next {
    right: -70px;
}

.swiper-button-prev {
    left: -70px;
    @include transform(rotate(180deg));
}

.swiper-button-next svg, .swiper-button-prev svg {
    width: 11px;
    position: absolute;
    top: 11px;
}

.swiper-container--overflow {
    overflow: visible;
}
