.staff-panel {
    @extend .panel;
    border: 1px solid $grey-6;
    margin-top: 35px;
    @include padding(0px);

    * {
        text-align: left;
    }

    h5 {
        color: $red-1;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 10px;
        font-size: $font-size-small;
        line-height: $lineheight-small;
    }

    a {
        display: inline-block;
    }
}

.staff-panel--content {
    @include padding(40px);
}

.staff-panel--img-cont {
    height: 240px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &.red {
        background-color: $red-2;
    }

    &.teal {
        background-color: $teal-2;
    }

    &.blue {
        background-color: $blue-2;
    }

    &.yellow {
        background-color: $yellow-2;
    }
}
