.video-display {
    position: relative;
    display: block;
    border-radius: $global-radius;
    overflow: hidden;
    margin: 40px auto;

    @media all and (min-width: $screen-sm) {
        margin: auto;
    }

    .plyr__controls {
        border-radius: $global-radius;
    }
}

.video-display {
    .video-prompt--btn {
        @include position(absolute, 50% null null 50%);
        @include transform(translate3d(-50%, -50%, 0));
        display: block;
        z-index: 9;
    }
}
