.video-modal {
    position: fixed;
    width: calc(100% - 130px);
    top: 30%;
    left: 50%;
    @include transform(translate3d(-50%, 40px, 0));
    z-index: -1;
    background-color: black;
    opacity: 0;
    @include transition(all .4s ease);

    @media all and (min-width: $screen-sm) {
        width: calc(100% - 300px);
    }

    @media all and (min-width: $screen-md) {
        width: 700px;
    }

    &.reveal {
        opacity: 1;
        @include transform(translate3d(-50%, 0, 0));
    }

    .video-prompt--btn {
        @include position(absolute, 50% null null 50%);
        @include transform(translate3d(-50%, -50%, 0));
        margin-top: 0px;
    }

    .centered-heading {
        margin-bottom: 0px;
    }
}

.video-modal--close {
    @extend .map__overlay--close;

    background-color: $red-1;
    height: 50px;
    width: 50px;
    @include position(absolute, 0 null 0 -50px);
    @include padding(18px);

    @media all and (min-width: $screen-md){
        @include position(absolute, 0 null 0 -84px);
        height: 84px;
        width: 84px;
    }

    > span {
        color: $white;
        @include transform(rotate(45deg));
        transform-origin: 50% 50%;
        @include font-sans(400);
        display: inline-block;
        font-size: 50px;
        @include position(absolute, -1px 9px null null);

        @media all and (min-width: $screen-md){
            font-size: 85px;
            @include position(absolute, -2px 15px null null);
        }
    }
}

.video-modal--bg {
    height: 100%;
    width: 100%;
    @include position(fixed, 0px null null 0px);
    @include transition(all .4s ease);
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
    opacity: 0;

    &.reveal {
        opacity: 1;
    }
}
