.video-modal {
    position: fixed;
    width: calc(100% - 130px);
    top: 30%;
    left: 50%;
    @include transform(translate3d(-50%, 40px, 0));
    z-index: -1;
    background-color: black;
    opacity: 0;
    @include transition(all .4s ease);

    @media all and (min-width: $screen-md) {
        width: 700px;
    }

    &.reveal {
        opacity: 1;
        @include transform(translate3d(-50%, 0, 0));
    }

    .video-prompt--btn {
        @include position(absolute, 50% null null 50%);
        @include transform(translate3d(-50%, -50%, 0));
        margin-top: 0px;
    }

    .centered-heading {
        margin-bottom: 0px;
    }
}

.video-modal--close {
    @extend .map__overlay--close;
}

.video-modal--bg {
    height: 100%;
    width: 100%;
    @include position(fixed, 0px null null 0px);
    @include transition(all .4s ease);
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
    opacity: 0;

    &.reveal {
        opacity: 1;
    }
}
