.centered-heading {
    width: 100%;
    margin-bottom: 20px;

    @media all and (min-width: $screen-sm){
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        &.auto {
            width: auto;
        }
    }

    * {
        text-align: center;
    }
}
