.centered-heading {
    width: 100%;
    margin-bottom: 20px;

    @media all and (min-width: $screen-sm){
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    * {
        text-align: center;
    }
}
