body {
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 55px;
    font-weight: 400;

    &.menu-open {
        overflow: hidden;

        .navigation {
            overflow-y: scroll; 
        }
    }
}
