//heading mixins
@mixin font-proxima($weight) {
    font-family: $font-heading;
    font-style: normal;
    font-weight: $weight;
}

@mixin font-sans($weight) {
    font-family: $font-body;
    font-style: normal;
    font-weight: $weight;
}

@mixin heading--h1 {
    @include font-proxima(700);
    font-size: $font-size-h1-mobile;
    line-height: $font-size-h1-mobile;

    @media all and (min-width: $mobile-only) {
        font-size: $font-size-h1-tablet;
        line-height: $font-size-h1-mobile;
    }

    @media all and (min-width: $screen-sm) {
        font-size: $font-size-h1;
        line-height: $lineheight-h1;
    }
}

@mixin heading--h2 {
    @include font-proxima(700);
    font-size: $font-size-h2-mobile;
    line-height: $font-size-h2-mobile;

    @media all and (min-width: $mobile-only) {
        font-size: $font-size-h2-tablet;
        line-height: $font-size-h2-mobile;
    }

    @media all and (min-width: $screen-sm) {
        font-size: $font-size-h2;
        line-height: $lineheight-h2;
    }
}

@mixin heading--h3 {
    @include font-proxima(700);
    font-size: $font-size-h3;
    line-height: $lineheight-h3;
}

@mixin heading--h4 {
    @include font-proxima(700);
    font-size: $font-size-h4;
    line-height: $lineheight-h4;
}

@mixin heading--h5 {
    @include font-proxima(700);
    font-size: $font-size-h5;
    line-height: $lineheight-h5;
}

body {
    @include font-sans(400);
}


h1 {
    @include heading--h1;
}

h2 {
    @include heading--h2;
}

h3 {
    @include heading--h3;
}

h4 {
    @include heading--h4;
}

h5 {
    @include heading--h5;
}


p {
    @include font-sans(400);
    font-size: $font-size-small;
    line-height: $lineheight-small;
    padding: 10px 0px;

    @media all and (min-width: $screen-sm) {
        font-size: $font-size-base;
        line-height: $lineheight-base;
        padding: 20px 0px;
    }

    &.light {
        font-weight: 300;
    }

    b {
        font-weight: 700;
    }

    a {
        color: $red-1;
        text-decoration: underline;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
