//== Colors
$white: #ffffff;

//accents
$black-1: #444b51;
$teal-1: #01b5aa;
$red-1: #ed1558;
$blue-1: #0074bb;
$yellow-1: #eeca13;

//tints
$black-2: #c9c9cc;
$teal-2: #d4eeeb;
$red-2: #fbd3d0;
$blue-2: #ddeaf7;
$yellow-2: #faf3d2;

$grey-1: #dfdfdf;
$grey-2: #e5e9ee;
$grey-3: #34353d;
$grey-4: #6e6f7a;

$global-radius: 5px;
$section-padding: 70px;
$section-dbl-padding: 2 * $section-padding;


$font-size-base:            18px;
$font-size-small:           16px;

$lineheight-base: 30px;
$lineheight-small: 24px;

//heading sizes
$font-size-h1:              48px;
$font-size-h1-tablet:       34px;
$font-size-h1-mobile:       26px;

$font-size-h2:              36px;
$font-size-h2-tablet:       28px;
$font-size-h2-mobile:       24px;

$font-size-h3:              24px;
$font-size-h4:              20px;
$font-size-h5:              18px;

//lineheights
$lineheight-h1:             48px;
$lineheight-h1-tablet:      34px;
$lineheight-h1-mobile:      26px;

$lineheight-h2:             40px;
$lineheight-h2-tablet:      34px;
$lineheight-h2-mobile:      26px;

$lineheight-h3:             28px;
$lineheight-h4:             24px;
$lineheight-h5:             22px;


$mobile-only:               580px;


$font-heading: "proxima-nova",sans-serif;
$font-body: 'Open Sans', sans-serif;
