//== Colors
$white: #ffffff;

//tints
$black-1: #444b51;
$black-2: #c9c9cc;

$red-1: #ed1558;
$red-2: #fbd3d0;

$teal-1: #01b5aa;
$teal-2: #d4eeeb;
$teal-3: #5cc9c7;

$yellow-1: #eeca13;
$yellow-2: #faf3d2;
$yellow-3: #f5de81;
$yellow-4: #e3db7c;

$blue-1: #0074bb;
$blue-2: #ddeaf7;
$blue-3: #82b5e1;

$grey-1: #dfdfdf;
$grey-2: #e5e9ee;
$grey-3: #34353d;
$grey-4: #6e6f7a;
$grey-5: #a0a0a0;
$grey-6: #d7d7d7;
$grey-7: #4b4f54;
$grey-8: #1f2025;
$grey-9: #f3f3f3;

$global-radius: 5px;
$section-padding: 70px;
$section-dbl-padding: 2 * $section-padding;
$col-padding: 15px;
$dbl-col-padding: 2 * $col-padding;


$font-size-base:            18px;
$font-size-small:           16px;

$lineheight-base: 30px;
$lineheight-small: 24px;

//heading sizes
$font-size-h1:              48px;
$font-size-h1-tablet:       34px;
$font-size-h1-mobile:       26px;

$font-size-h2:              36px;
$font-size-h2-tablet:       28px;
$font-size-h2-mobile:       24px;

$font-size-h3:              24px;
$font-size-h4:              20px;
$font-size-h5:              18px;

//lineheights
$lineheight-h1:             48px;
$lineheight-h1-tablet:      34px;
$lineheight-h1-mobile:      26px;

$lineheight-h2:             40px;
$lineheight-h2-tablet:      34px;
$lineheight-h2-mobile:      26px;

$lineheight-h3:             28px;
$lineheight-h4:             24px;
$lineheight-h5:             22px;

$lineheight-input:          32px;

$mobile-only:               580px;


$font-heading: "proxima-nova",sans-serif;
$font-body: "open-sans", sans-serif;
